/*---------------CUSTOM CHECKBOX------------------*/

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.custom-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.custom-checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.custom-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.custom-checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
}

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.custom-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

/* Меняем фон чекбокса, когда он включен. */
.custom-checkbox:checked + label:before {
    background: #9FD468;
    background-image: url(../images/checkbox.png);
    background-repeat: no-repeat;
    background-size: 14px;
    box-shadow: none;
    background-position: center;
}

/*---------------DARK CHECKBOX------------------*/
.dark-checkbox:not(checked) + label:before {
    background: #152e42
}

.dark-checkbox:checked + label:before {
    background-color: #f01418;
    -webkit-box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
    box-shadow: 0 8px 15px 0 rgba(240, 20, 24, 0.4);
}