/* desktop header */

.container-desktop-header {
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.desktop-header-dark {
    background: #3d3d3d;
    height: 50px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.desktop-header-white {
    background: rgb(255, 255, 255);
    height: 72px;
}

.header-logo {
    margin-top: 10px;
}

.header-logo img {
    height: 50px;
}

.header-logo-label {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo-text {
    font-weight: bold;
    font-size: 16px;
    color: #5f5d5d;
}

.header-contact-button {
    background-color: #bb000b;
    border: #bb000b;
    color: white;
    padding: 5px 15px;
    border-radius: 1px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 16px;
}

.header-contact-glyphicon {

}

@media(max-width: 1360px) {
    .header-logo-label {
        display: none;
    }

}

/* desktop header menu */

.header-main-menu {
    margin-top: 10px;
}

.header-main-menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-menu li {
    font-size: 16px;
    font-weight: bold;
    height: 52px;
}

.header-main-menu li:hover {
    background-color: #bb000b;
    border-radius: 1px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.header-main-menu li:hover a {
    color: white;
}

.header-main-menu li a {
    color: #5f5d5d;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.current-menu-item {
    background-color: #bb000b;
    border-radius: 1px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.header-main-menu .current-menu-item a {
    color: white;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    color: white;
    margin-top: 10px;
    border-radius: 1px;
}

.header-cart {
    width: initial;
    background: #bb000b;
    padding: 0px 10px;
    float: right;
}

.header-cart-icon {
    margin-right: 5px;
}

.header-search {
    border: 1px solid #c3c3c3;
    color: #4a4a4a;
    margin-right: 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 90px;
    cursor: pointer;
    float: right;
    display: none;
}

.header-search:hover {
    border: 0px;
    color: white;
    background: #bb000b;
}

.header-search-label {
    margin-left: 5px;
}

.header-active-icon {
    border: 0px;
    color: white;
    background: #bb000b;
}

.header-logo-link {
    display: flex;
}

.header-logo-link:hover {
    text-decoration: none;
}

.container-top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-search-wrapper {
    width: 100%;
    max-width: 600px;
    margin-right: 100px;
}

.header-search-wrapper .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
    height: 30px;
    font-weight: bold;
    font-style: italic;
}

.header-search-wrapper .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover {
    opacity: 1;
    background-color: #bb000b;
}

.header-search-wrapper .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover::before, 
.header-search-wrapper .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:focus::before {
    border-right-color: #bb000b;
}

.header-search-wrapper .dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    height: 30px;
    background: #3d3d3d;
    border: 0px;
    border-bottom: 1px solid#a2a2a2;
    text-transform: uppercase;
}

.header-search-wrapper .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
    top: 8px;
}

.contact-header {
    margin-right: 30px;
}

.header-info {
    display: flex;
    float: right;
    align-items: center;
    height: 50px;
}

.header-info-phone {
    color: #e4e4e4;
    font-weight: bold;
    font-size: 28px;
    margin-right: 30px;
    font-style: italic;
}

.header-info-phone-label {
    font-size: 20px;
}

.header-info-social {
    display: flex;
}

.header-info-social-icon {
    margin-left: 5px;
}

.header-info-social-icon img {
    height: 30px;
}

/* mobile header menu */

.container-mobile-header {
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 50px;
    z-index: 150;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.header-mobile-logo {
    margin-top: 7px;
}

.header-mobile-logo img {
    height: 36px;
}

.header-mobile-icon {
    color: #5f5d5d;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    font-size: 20px;
}

.header-mobile-icon:active {
    background: #bb000b;
    color: white;
}

.header-mobile-icon:active svg {
    fill: #fff;
}

.header-mobile-icon svg {
    width: 20px;
    height: 20px;
    fill: #5f5d5d;
}

/* widgets */

.header-search-widget-container {
    position: fixed;
    z-index: 40;
    top: -10px;
    right: 250px;
    width: 100%;
    max-width: 500px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-search-widget {
    background: white;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    border-radius: 1px;
}

.header-menu-widget {
    background: white;
    padding-bottom: 10px;
}

.header-menu-widget-container {
    position: absolute;
    z-index: 50;
    top: 50px;
    left: -485px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 460px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    overflow: scroll;
    border-top: 1px solid#cccccc;
}

.header-tablet-menu-list ul {
    margin: 0px;
    padding: 15px 0 15px 0;
    list-style-type: none;
}

#menu-mobilemenusecond {
    padding-top: 0px;
}

#menu-mobilemenufirst {
    padding-bottom: 0;
}

.header-tablet-menu-list li {
    
}

.header-tablet-menu-list li a {
    font-weight: bold;
    color: #5f5d5d;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.header-tablet-menu-list li a:hover,
.header-tablet-menu-list li a:active {
    background: #bb000b;
    color: #fff;
}

.header-tablet-menu-list .current-menu-item a {
    color: #fff;
}

.tablet-menu-cart-icon img {
    width: 60px;
}

.header-tablet-menu-categories .woocommerce ul.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.header-tablet-menu-categories .woocommerce ul.products[class*=columns-] li.product {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header-tablet-menu-categories .woocommerce ul.products li.product a {
    display: flex;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 40px;
}

.header-tablet-menu-categories .woocommerce ul.products li.product a:hover, 
.header-tablet-menu-categories .woocommerce ul.products li.product a:active,
.header-tablet-menu-categories .woocommerce ul.products li.product a:focus {
    background-color: #bb000b;
}

.header-tablet-menu-categories .woocommerce ul.products li.product a:hover .woocommerce-loop-category__title, 
.header-tablet-menu-categories .woocommerce ul.products li.product a:active .woocommerce-loop-category__title,
.header-tablet-menu-categories .woocommerce ul.products li.product a:focus .woocommerce-loop-category__title {
    color: #fff;
}

.header-tablet-menu-categories .woocommerce ul.products li.product a img {
    width: 40px;
    margin: 0px;
    display: none;
}

.header-tablet-menu-categories .woocommerce ul.products li.product .woocommerce-loop-category__title {
    color: #5f5d5d;
    padding: 0px;
}

.header-tablet-menu-categories .woocommerce ul.products li.product .count {
    display: none;
}

#mobile-fixed-background {
    position: fixed;
    z-index: 80;
    background: rgba(76, 76, 76, 0.5);
    width: 100%;
    height: 100%;
}

.tablet-menu-cart-icon {
    background: #bb000b;
    margin-right: 10px;
    border-radius: 1px;
}

.header-tablet-menu-cart {
    padding: 10px;
    border-bottom: 1px solid#cccccc;
    margin-bottom: 10px;
}

.tablet-menu-cart-link a {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 18px;
}

.tablet-menu-cart-text {
    font-size: 18px;
}

.tablet-menu-cart {
    display: flex;
}

.tablet-menu-cart-button {
    background: #bb000b;
    margin-top: 15px;
}

.tablet-menu-cart-checkout {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 18px;
}

.tablet-menu-cart-checkout:active,
.tablet-menu-cart-checkout:hover,
.tablet-menu-cart-checkout:focus {
    color: white;
    text-decoration: none;
}

.tablet-menu-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tablet-children-categories .woocommerce ul.products[class*=columns-] li.product {
    background: #f7f7f7;
}

.tablet-children-categories .woocommerce ul.products[class*=columns-] li.product a {
    padding-left: 60px;
}

@media (max-width: 1400px) {
    .header-search-wrapper {
        width: 300px;
    }
}

@media(max-width: 1120px) {
    .header-search {
        width: 52px;
    }
    .header-search-label {
        display: none;
    }
    .header-search-wrapper {
        margin-right: 40px;
    }
}

@media(max-width: 460px) {
    .header-menu-widget-container {
        width: 100%;
    }

}

