body, html {
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;
    font-size: 16px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.site-content {
    padding-top: 122px;
    background: #eef0f1;
}

.footer-feedback-input-left {
	text-align: right;
}

.footer-feedback-input-right {
	text-align: left;
}

@media(max-width: 991px) {

	.site-content {
        padding-top: 50px;
    }

    .footer-feedback-input-left {
		text-align: center;
	}

	.footer-feedback-input-right {
		text-align: center;
	}

	.footer-feedback-input-left label {
		width: 100%;
	}

	.footer-feedback-input-right label {
		width: 100%;
	}
}