/* header cart */

.header-cart .menu {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.header-cart .menu {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.header-cart #menu-item-100 {
    display: none;
}

.header-cart a {
    color: white;
}

.header-cart .wpmenucart-icon-shopping-cart-0 {
    display: none;
}

.header-cart-icon {
    margin-right: 5px;
}

.header-cart-icon img {
    width: 40px;
}

.header-cart .wpmenucart-contents {
    display: flex;
}

@media (max-width: 1360px) {
    .header-cart .wpmenucart-contents {
        flex-direction: column;
    }

}

/* products list */

.archive-description-wrapper {
    margin-bottom: 30px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    color: #bb000b;
    font-size: 20px;
    font-weight: bold;
    min-height: 64px;
}

.price-title {
    color: #4a4a4a;
    font-weight: bold;
    padding-bottom: 10px;
}

.woocommerce ul.products li.product .price {
    display: inline-block;
    float: right;
    margin-bottom: 0px;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 16px;
}

.woocommerce ul.products li.product .button {
    width: 100%;
    border-radius: 1px;
    background: #bb000b;
    color: white;
    text-align: center;
    padding: 12px 12px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background: white;
    padding: 5px 10px 10px 10px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.woocommerce ul.products li.product:hover,
.woocommerce ul.products li.product:active,
.woocommerce ul.products li.product:focus,
.woocommerce-page ul.products li.product:hover,
.woocommerce-page ul.products li.product:active,
.woocommerce-page ul.products li.product:focus {
    box-shadow: 1px 1px 20px 5px rgb(195, 195, 195);
}

.widget-title {
    margin-top: 10px;
}

.page-title {
    margin-top: 4px;
}

.entry-title {
    margin-top: 4px;
}

.entry-content,
.term-description,
.custom-category-header,
.page-description {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
    border-radius: 1px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.woocommerce .woocommerce-breadcrumb {
    margin-top: 10px;
    margin-bottom: 0px;
}

.woocommerce-product-details__short-description {
    color: #4a4a4a;
    min-height: 44px;
}

.products .custom-product-excerpt-item {
    display: flex;
    justify-content: space-between;
}

.custom-product-excerpt-item div {
    display: inline-block;
}

.woocommerce ul.products li.product .onsale {
    background: #bb000b;
    border-radius: 1px;
    padding: 5px 10px;
    min-height: 1px;
    line-height: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 16px;
    top: 70px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

.woocommerce ul.products li.product .price ins {
    text-decoration: none;
}

.woocommerce ul.products li.product .price ins .woocommerce-Price-amount {
    border: 0px;
    background: #bb000b;
    color: white;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-style: italic;
    border-radius: 1px;
}

@media (max-width: 500px) {
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }

}

/* shop sidebar */

.widget-area {
    margin-bottom: 30px;
}

.product-categories {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-radius: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.product-categories a {
    display: block;
    padding: 10px 20px;
    color: #4a4a4a;
    text-decoration: none;
}

.product-categories a:hover {
    background: #bb000b;
    color: white;
}

.product-categories .current-cat a {
    background: #bb000b;
    color: white;
}

.product-categories .children {
    list-style-type: none;
    padding: 0px;
    background: #f7f7f7;
}

.product-categories .children a {
    padding-left: 50px;
    background: #f7f7f7;
    color: #4a4a4a;
}

.product-categories .children a:hover {
    background: #bb000b;
    color: white;
}

.product-categories .children .current-cat a {
    background: #bb000b;
    color: white;
}

/* content-single-product */

.woocommerce div.product p.price ins {
    text-decoration: none;
}

.woocommerce div.product .product_title {
    margin-top: 10px;
}

.container-single-product {
    margin-top: 53px;
    position: relative;
}

.woocommerce div.product p.price ins .woocommerce-Price-amount {
    border: 0px;
    background: #bb000b;
    color: white;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-style: italic;
    border-radius: 1px;
}

.woocommerce span.onsale {
    background: #bb000b;
    border-radius: 1px;
    padding: 5px 10px;
    min-height: 1px;
    line-height: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 16px;
    top: 20px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.98);
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 2px solid #bb000b;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #bb000b;
    color: white;
    border-color: #bb000b;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #ffffff;
    border-radius: 1px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 10px 20px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #bb000b;
    color: #fff;
    border-radius: 1px;
    padding: 15px 50px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #c11822;
}

.container-single-product .quantity .qty {
    height: 46px;
    width: 70px;
    border: 1px solid #d3ced2;
}

.comment-respond input{
    border: 1px solid #d3ced2;
}

.comment-respond textarea {
    border: 1px solid #d3ced2;
}

.woocommerce p.stars a,
.woocommerce p.stars a:hover,
.woocommerce p.stars a:active,
.woocommerce p.stars a:focus {
    color: #bb000b;
    border: 0px;
}

.comment-form-author,
.comment-form-email {
    display: flex;
    flex-direction: column;
}

.woocommerce table.shop_table {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
    border-radius: 1px;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 100px;
}

.woocommerce nav.woocommerce-pagination {
    margin-bottom: 40px;
}

.woocommerce nav.woocommerce-pagination ul li {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #bb000b;
    color: #ffffff;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    color: #4a4a4a;
    padding: 12px;
}

.product_meta {
    display: flex;
    flex-direction: column;
}

.product_meta .posted_in,
.product_meta .tagged_as {
    font-weight: bold;
}

.product_meta a {
    font-weight: bold;
    color: #4a4a4a;
    border-bottom: 2px solid#bb000b;
    text-decoration: none;
}

.custom-single-product-add-cart-wrapper {
    margin-top: 15px;
}

.custom-single-product-price-label {
    font-weight: bold;
    margin-right: 5px;
}

.custom-single-product-price-wrapper {
    display: flex;
    align-items: center;
}

.custom-single-related-products .related > h2 {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid#bb000b;
}

/* page contact */

.page-contact-block {
    margin-top: 20px;
}

.page-contact-map {
    padding-top: 20px;
    padding-bottom: 10px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 10px 20px 20px 20px;
}

.woocommerce div.product p.price {
    color: #4a4a4a;
    font-weight: bold;
}

.container-map .entry-content {
    padding: 0px;
}

.entry-content h3,
.term-description h3,
.custom-category-header-title h3,
.page-description h3 {
    border-bottom: 2px solid#bb000b;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.entry-content h4,
.term-description h4 {
    font-weight: bold;
}

.entry-content p,
.term-description p {
    margin-bottom: 20px;
}

.entry-content a,
.term-description a,
.page-description a {
    font-weight: bold;
    color: #4a4a4a;
    border-bottom: 2px solid#bb000b;
    text-decoration: none;
}

.entry-content a:hover,
.term-description a:hover,
.entry-content a:focus,
.term-description a:focus {
    color: #4a4a4a;
}

.entry-content .content-list-red {
    list-style-type: none;
}

.entry-content .content-list-red li {
    margin-bottom: 10px;
    position: relative;
}

.entry-content .content-list-red li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -20px;
    width: 8px;
    height: 8px;
    border-radius: 1px;
    background: #bb000b;
}

.entry-header {
    text-align: center;
}

.custom-category-header {
    margin-bottom: 20px;
}

.custom-category-header-filter {
    display: flex;
    justify-content: space-between;
}

.custom-category-header-filter .woocommerce-result-count,
.custom-category-header-filter .woocommerce-ordering {
    float: inherit;
    margin-bottom: 0px;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea {
    width: 100%;
    border-radius: 1px;
    border: 1px solid#cacaca;
    padding: 5px 15px;
    box-shadow: 0 5px 10px 0 rgba(50,50,50,.06);
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    background: #bb000b;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 72px;
    box-shadow: 0 8px 15px 0 rgba(117,117,117,.4);
    color: #fff;
    border: 0;
    border-radius: 1px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    background-color: #db1b1e;
    color: #fff;
}

.page-thumbnail-wrap {
    box-shadow: 0 5px 10px 0 rgba(50,50,50,.06);
    background: #fff;
    border-radius: 1px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.page-thumbnail-wrap .post-thumbnail img {
    width: 200px;
    height: auto;
}

.page-header-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.page-header-description-title {
    font-weight: 700;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.page-header-description-info {
    margin-bottom: 20px;
}

.page-header-description-button {
    display: flex;
    justify-content: flex-end;
}

.comments-area {
    box-shadow: 0 5px 10px 0 rgba(50,50,50,.06);
    background: #fff;
    border-radius: 1px;
    padding: 20px;
    text-align: center;
}

.comment-respond textarea {
    resize: none;
    width: 100%;
    border-radius: 1px;
    border: 1px solid#cacaca;
    padding: 5px 15px;
    box-shadow: 0 5px 10px 0 rgba(50,50,50,.06);
}

.comment-form .form-submit .submit {
    background: #bb000b;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 72px;
    box-shadow: 0 8px 15px 0 rgba(117,117,117,.4);
    color: #fff;
    border: 0;
    border-radius: 1px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.comment-form .form-submit .submit:hover {
    background-color: #db1b1e;
}

.comment-form .form-submit .submit:active,
.comment-form .form-submit .submit:focus {
    background-color: #b12d34;
}

.pwb-single-product-brands {
    margin-bottom: 10px;
    display: flex;
}

.pwb-single-product-brands a {
    display: block;
    background: white;
    padding: 15px 20px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    border-radius: 1px;
}

.single-product-barnd-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.pwb-brands-in-loop {
    position: absolute;
    right: -8px;
    top: 100px;
    background: #ffffff;
    min-width: 122px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    border-radius: 1px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    border: 1px solid#eef0f1;
}

.pwb-brands-in-loop:hover {
    box-shadow: 1px 1px 20px 5px rgb(195, 195, 195);
}

.pwb-brands-in-loop a.pwb-brands-in-loop-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.woocommerce ul.products li.product a.pwb-brands-in-loop-link img {
    margin: 0;
    width: 80px;
}

.form-text-center {
    display: flex;
    justify-content: center;
}

.content-link {
    font-weight: bold;
    color: #4a4a4a;
    border-bottom: 2px solid#bb000b;
    text-decoration: none;
}

.content-link:hover,
.content-link:active,
.content-link:focus {
    color: #4a4a4a;
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}

.custom-product-excerpt-description {

}

.custom-product-excerpt-title {
    font-weight: bold;
}    

.product-chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.product-chart-item {
    border: 2px solid#ddd;
    height: 10px;
}

.product-chart-item-count-4 {
    flex-basis: 24%;
}

.widget_custom_html {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    background: white;
    border-radius: 1px;
    padding: 20px 20px;
    margin-top: 20px;
}

.custom-html-widget {
    display: flex;
    justify-content: center;
}

.widget_custom_html .widget-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .cart-prod-title-price-block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .container-single-product {
        margin-top: 10px;
    }
    .woocommerce div.product div.images {
        margin-bottom: 10px;
    }
    .custom-single-product-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-thumbnail-wrap {
        flex-direction: column;
        text-align: center;
    }

    .page-header-description-button {
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .custom-category-header-filter {
        flex-direction: column;
    }

    .custom-category-header-filter .woocommerce-result-count {
        margin-bottom: 5px;
    }

    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
        padding: 0px;
        margin: 0px;
        display: flex;
        text-align: center;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs {
        display: flex;
        padding: 0px;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding: 10px 9px;
        display: block;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .cart {
        display: flex;
        justify-content: space-around;
    }

    .quantity, .single_add_to_cart_button {
        flex-basis: 50%;
    }

    .container-single-product .quantity .qty {
        width: 100%;
    }
    .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
        padding: 15px 20px;
    }

    .page-thumbnail-wrap .post-thumbnail img {
        width: 100%;
    }
}